

.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 263px;
  padding: 2.4rem;
  max-width: 37.5rem;
}

.burger {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

}

.line {
  background-color: #fff;
  height: 0.3rem;
  width: 2.5rem;
}

.logo {
  width: 4rem;
}