.navigation-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
  width: 100%;

  .navigation-logo {
    position: relative;
    // width: 4.8rem;
    width: 50%;
    height: 4.8rem;
    margin-left: 5.5rem;

    hr {
      position: absolute;
      width: 70%;
      top: 45%;
      left: 35%;
      z-index: 5;
      // left: -40rem;
    }

  }

  .navigation-burger {
    display: none;
  }

  .navigation-menu {
    display: flex;
    justify-content: center;
    gap: 4.8rem;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81.5485px);
    padding: 3.9rem;
    width: 65%;
    margin: 0;




    .navigation-link {
      flex-wrap: nowrap;
      letter-spacing: 0.236rem;
      padding-bottom: 2em;
    }

    .active-menu {
      border-bottom: 3px solid white;
    }

  }

}

//responsive for tables
@media (max-width: 1000px) {
  .navigation-container {
    margin-top: 0;

    .navigation-logo {

      hr {
        display: none;
      }
    }

    .navigation-menu {

      height: 9.6rem;
      background: rgba(255, 255, 255, 0.04);
      backdrop-filter: blur(81.5485px);

      .navigation-link {

        font-size: 1.4rem;

        span {
          display: none;
        }
      }
    }
  }
}

@media (max-width:600px) {
  .navigation-container {
    padding: 2.4rem;
    .navigation-logo {
      margin: 0;
    }
    .navigation-burger{
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
      width: 2.4rem;

      .burger-line {
        background-color: #fff;
        width: 100%;
        height: 2px;
        
      }
    }
    .navigation-menu {
      display: none;
    }
  }
}