.hero-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.4rem;
  
}

.subtitle {
  font-size: 1.9rem;
  font-weight: 400;
  color: var(--secondary);
  letter-spacing: 0.235rem;
}

.title {
  font-weight: 400;
  font-size: 8rem;
  height: 10rem;
  line-height: 100px;
  margin-top: 1.6rem;
}

.text-info {
  font-size: 1.5rem;
  color: var(--secondary);
  font-weight: 400;
  line-height: 2.5rem;
  text-align: center;
  margin-top: 1.6rem;

}

.main-button {
  background-color: #fff;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  color: black;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8.1rem;
}

.text-button {
  font-size: 2rem;
  font-family: var(--titleFont);
  text-transform: uppercase;
}