
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&display=swap');

@font-face {
  font-family: 'Bellefair';
  src: local('Bellefair') url(./assets/fonts/Bellefair-Regular.ttf) format('truetype');
}


:root {
  
  --globalFont: 'Barlow Condensed', sans-serif;
  --BarlowFont: 'Barlow', sans-serif;
  --titleFont: 'Bellefair', serif;
  --fontSizeParagraph: 16px;
  
  --primary: #0B0D17;
  --secondary: #D0D6F9;
  --text-color: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--globalFont);
    background-color: var(--primary);
}

h1, h2, h3, h4 {
  font-family: 'Bellefair', serif;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
}

h1 {
  font-size: 15rem;
}
h2 {
  font-size: 10rem;
}
h3 {
  font-size: 5.6rem;
}
h4 {
  font-size: 3.2rem;
}
h5 {
  font-family: var(--globalFont);
  color: var(--text-color);
  
}

p {
  color: var(--text-color);
  font-family: var(--BarlowFont);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}


